body {
	background: url(../image/beijing.png);
	background-size: cover;
	background-attachment: fixed;
}

span {
	color: #fff;
	font-size: 20px;
}

select {
	width: 240px;
	height: 35px;
	font-size: 17px;
	border-radius: 5px;
	cursor: pointer;
	margin: auto 5px;
}

input {
	width: 240px;
	height: 35px;
	line-height: 35px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	margin: auto 5px;
}

option {
	font-size: 17px;
}

.h2 {
	width: 100%;
	height: 40px;
	text-align: center;
	font-family: "ו";
	font-size: 26px;
	font-weight: bolder;
	color: #fff;
	position: absolute;
	top: 55%;
}

.login-box {
	width: 780px;
	height: 480px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -240px;
	margin-left: -390px;
	border-radius: 15px;
	background: rgba(69, 152, 205, 0.8);
}

.left-box1 {
	width: 40%;
	height: 100%;
	/*       	border: 2px solid #d2d; */
	position: relative;
}

.imgbox {
	width: 45%;
	height: 25%;
	position: absolute;
	left: 47.5%;
	top: 30%;
	margin-left: -20%;
}

.center-shu {
	width: 3px;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 40%;
	background: #fff;
	float: left;
}

.right-box1 {
	width: 55%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 44%;
}

.right-inbox1 {
	width: 100%;
	height: 60%;
	/*  border:2px solid #d2d;  */
	position: absolute;
	top: 0%;
	left: 0%;
}

.right-centerbox1 {
	width: 100%;
	height: 20px;
	position: relative;
}

.right-onbox1 {
	width: 100%;
	position: absolute;
	top: 154%;
}

.right-h2 {
	color: #fff;
	font-family: 'ו';
	font-size: 24px;
	font-weight: bolder;
}

.right-text1 {
	margin: 25px auto;
	/*          border:2px solid #d2d; */
}

.checkbox1 {
	height: 100%;
	position: absolute;
	left: -25%;
}

.checkbox2 {
	height: 100%;
	position: absolute;
	top: 0%;
	left: 10%;
}

.span1 {
	line-height: 20px;
	position: absolute;
	left: 10%;
}

.span2 {
	line-height: 20px;
	position: absolute;
	left: 45%;
}

.submit {
	/* margin: auto 40px; */
	width: 110px;
	height: 100%;
	line-height: 30px;
	text-align: center;
	background: #4fadeb;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	float: left;
}

.onbox2 {
	position: absolute;
	top: 0%;
	left: 45%;
}

#checkCode {
	width: 112px;
	height: 35px;
	position: absolute;
	left: 315px;
	top: 252px;
	color: red;
	font-size: 26px;
	font-family: Arial;
	font-style: italic;
	line-height: 35px;
	color: red;
	font-weight: bolder;
}

.refresh {
	font-size: 14px;
	color: red;
}